<!DOCTYPE html>
<html lang="es">
    <%- include("../partials/head") %> 
<body class="addProduct">
    <%- include("../partials/header") %> 
    <main class="addProduct__main">
        <section class="form__container">
            <h1>Agregar</h1>
            <form action="/products/storeProduct" method="POST">
                <div class="form__l--container">
                    <div>
                        <label for="title">Nombre del producto</label>
                        <input name="title" type="text" id="title" placeholder="Agregue un nombre" value="<%= locals.old && old.title ? old.title : null %>">
                        <p class="errorText"><%= locals.errors && errors.title ? errors.title.msg : null %></p>
                    </div>
                    <div>
                        <label for="category">Categoria</label>
                        <select name="category" type="text" id="category">
                            <option value="" hidden selected>Seleccione...</option>
                            <option value="detetica">Dietética</option>
                            <option value="veggie">Veggie</option>
                            <option value="snacks">Snacks</option>
                            <option value="suplementos">Suplementos</option>
                            <option value="varios">Varios</option>
                        </select>
                        <p class="errorText"><%= locals.errors && errors.category ? errors.category.msg : null %></p>
                    </div>
                    <div>
                        <label for="price">Precio</label>
                        <input name="price" type="text" id="price" placeholder="Agregue un precio" value="<%= locals.old && old.price ? old.price : null %>">
                        <p class="errorText"><%= locals.errors && errors.price ? errors.price.msg : null %></p>
                    </div>
                </div>
                <div class="form__r--container">
                    <div>
                        <label for="image">Imagen</label>
                        <input name="image" type="file" id="image" placeholder="Agregue una imagen">
                    </div>
                    <div>
                        <label for="discount">Descuento</label>
                        <input name="discount" type="number" id="discount" min="0" max="100" step="5" value="<%= locals.old && old.discount ? old.discount : 0 %>">
                        <p class="errorText"><%= locals.errors && errors.discount ? errors.discount.msg : null %></p>
                    </div>
                    <div>
                        <label for="description">Descripción</label>
                        <textarea name="description" type="text" id="description" placeholder="Agregue una descripción" cols="50"><%= locals.old && old.description ? old.description : null %></textarea>
                        <p class="errorText"><%= locals.errors && errors.description ? errors.description.msg : null %></p>
                    </div>
                </div>
                <div class="actionButtons__container">
                    <a href="/users/adminProfile"><p class="cancelar__button">Cancelar</p></a>
                    <button class="enviar__button">Enviar</button>
                </div>
                               
            </form>
        </section>
    </main>
    <%- include("../partials/footer") %> 
</body>
</html>