<!DOCTYPE html>
<html lang="es">
    <%- include("../partials/head", {title : camelSentence(categoryParams)}) %> 
    <body class="<%= categoryParams %> ">
        <%- include("../partials/header") %> 

        <main class="allProducts__main">
            <h2 class="allProducts__price"><%= camelSentence(categoryParams) %> </h2>
            <section class="allProducts__main__section">
                <% category.products.forEach(product => { %>
        
                        <a href="/products/detalleProducto/<%= product.id %> ">
                            <div class="allProducts__div">
                                <article class="allProducts__article">
                                    <p class="allProducts__title"><%= product.name %></p>
                                    <img width='150' height="300" src="/images/productos/<%= product.images[0].file %> " alt="imagen de producto">
                                    <div class="allProducts__price">
                                        <h2>$<%= toThousand(product.price)%></h2><p><%= product.discount %>% OFF</p>
                                    </div>
                                    
                                </article>
                                <hr>
                            </div>
                        </a>
                   
                <% }) %>
            </section>
            
        </main>

        
        <h1><%=  %> </h1>
        <%- include("../partials/footer") %> 
    </body>
</html>