<!DOCTYPE html>
<html lang="es">
<%- include("../partials/head",{title:'Eliminar productos'}) %>

    <body class="deleteProduct">
        <%- include("../partials/header") %>
            <main class="deleteProduct__main">
                <section class="form__container">
                    <h1>Eliminar Productos</h1>
                   
                        <div class="form__l--container">
                            <% products.forEach(product=> { %>
                                <div>
                                    <label for="name">
                                        <%= product.title %>
                                    </label>
                                    <form action="/products/deleteProduct/<%=id %>?_method=DELETE " method="POST">
                                        <button><a href="/products/deleteProduct/<%= product.id %> ">Eliminar</a></button>
                


                                    <% }) %>


                                     
                    </form>

                    </div>
                    </div>

                </section>
            </main>

            <%- include("../partials/footer") %>
    </body>

</html>