<!DOCTYPE html>
<html lang="es">
    <%- include("../partials/head") %>
    <body>
        <%- include("../partials/header") %> 
        <main class="allProducts__main">
            <% if (products.length > 0) { %>
                <h2 class="allProducts__price">Resultados de: "<%= camelSentence(keywords) %>"</h2>
                <section class="allProducts__main__section">
                    <% products.forEach(({name,price,images,id,discount})=>{ %>
                        <a href="/products/detalleProducto/<%= id %> ">
                            <div class="allProducts__div">
                                <article class="allProducts__article">
                                    <p class="allProducts__title"><%= name %></p>
                                    <img width='150' height="300" src="/images/productos/<%= images[0].file %> " alt="imagen de producto">
                                    <div class="allProducts__price">
                                        <h2>$<%= toThousand(price)%></h2><p><%= discount %>% OFF</p>
                                    </div>
                                    
                                </article>
                                <hr>
                            </div>
                        </a>
                        
                    <% }) %>
                </section>
            <% } else { %>
                <h2 class="allProducts__price">No hay resultados de: "<%= camelSentence(keywords) %>"</h2>
            <% } %>
            
        </main>
        <%- include("../partials/footer") %>     
    </body> 
</html>