<!DOCTYPE html>
<html lang="es">

<%- include("./partials/head") %> 

<body>
    <%- include("./partials/header") %> 
    <main class="home__main">
        <section class="home__seccion1">
            <div class="home__slider__container">
                <ul>
                    <li class="bannertitle1"><h1 class="green__word">Ofertas</h1>
                    <h1 class="white__word">hasta 25%</h1></li>
                    <li class="bannertitle2"><h1 class="green__word">Descuentos</h1>
                    <h1 class="white__word">en todos los productos</h1></li>
                    <li class="bannertitle3"><h1 class="green__word">Sumate al</h1>
                    <h1 class="white__word">mundo saludable</h1></li>
                    <li class="bannertitle4"><h1 class="green__word">Sé saludable</h1>
                    <h1 class="white__word">sé Green</h1></li>
                </ul>
            </div>
            <div class="home__productos__container">
                <h1 class="productos__tittles">
                    <span class="white__word">Combos</span>
                    <span class="green__word">Green</span>
                </h1>
            <div class="carrousel">
               <div class="carrousel__grande">
                <div class="producto__superior__container">
                    <div class="producto__izquierda">
                        <a href="/products/detail">
                        <div class="producto p1">
                            <h4 class="producto__precio">$xxxx</h4>
                        </div>    
                        </a>
                        
                        <h5 class="producto__nombre">Lorem, ipsum dolor.</h5>
                    </div>
                    <div class="producto__linea linea__dos"></div>
                    <div class="producto__central">
                        <a href="/detalleProducto">
                        <div class="producto p3">
                            <h4 class="producto__precio">$xxxx</h4>
                        </div>    
                        </a>
                        
                        <h5 class="producto__nombre">Lorem, ipsum dolor.</h5>
                    </div>
                    <div class="producto__linea"></div>
                    <div class="producto__derecha">
                        <a href="/detalleProducto">
                        <div class="producto p2">
                            <h4 class="producto__precio">$xxxx</h4>
                        </div>    
                        </a>
                        
                        <h5 class="producto__nombre">Lorem, ipsum dolor.</h5>
                    </div>
                </div>
                <div class="producto__inferior__container">
                    <div class="producto__izquierda">
                        <a href="/detalleProducto">
                        <div class="producto p2">
                            <h4 class="producto__precio">$xxxx</h4>
                        </div>    
                        </a>
                        
                        <h5 class="producto__nombre">Lorem, ipsum dolor.</h5>
                    </div>
                    <div class="producto__linea linea__dos"></div>
                    <div class="producto__central">
                        <a href="/detalleProducto">
                        <div class="producto p3">
                            <h4 class="producto__precio">$xxxx</h4>
                        </div>    
                        </a>
                        
                        <h5 class="producto__nombre">Lorem, ipsum dolor.</h5>
                    </div>
                    <div class="producto__linea"></div>
                    <div class="producto__derecha">
                        <a href="/detalleProducto">
                        <div class="producto p1">
                            <h4 class="producto__precio">$xxxx</h4>
                        </div>    
                        </a>
                        
                        <h5 class="producto__nombre">Lorem, ipsum dolor.</h5>
                    </div>
                </div>
            </div>
        </div>
                <ul class="carrousel__puntos">
                    <li class="carrousel__punto activo"></li>
                    <li class="carrousel__punto"></li>
                </ul>
            </div>
        </section>
        <section class="home__ayuda__container">
            <h1>¿Necesitas ayuda?</h1>
            <div class="ayuda__linea"></div>
            <div class="ayuda__items">
                <div class="ayuda__logo">
                    <img src="/images/home/bmi1.png" alt="">
                </div>
                <h4 class="ayuda__texto">IMC</h4>
            </div>
            <div class="ayuda__items">
                <div class="ayuda__logo">
                    <img src="/images/home/info.png" alt="">
                </div>
                <h4 class="ayuda__texto">Información</h4>
            </div>
            <div class="ayuda__items">
                <div class="ayuda__logo">
                    <img src="/images/home/foro1.png" alt="">
                </div>
                <h4 class="ayuda__texto">Foro</h4>
            </div>
            <div class="ayuda__items">
                <div class="ayuda__logo">
                    <img src="/images/home/nutricion1.png" alt="">
                </div>
                <h4 class="ayuda__texto">Nutrición</h4>
            </div>
        </section>
        <section class="home__seccion2">
            <div class="home__banner2__container">
                <h1 style="width: 100%;">
                    <h1 class="green__word txtizq">¡Todo</h1><h1 class="white__word txtder">lo que</h1>
                </h1>
                <h1 style="width: 100%;">
                    <h1 class="white__word txtizq">necesitas</h1><h1 class="green__word txtder">y más!</h1>
                </h1>
                
            </div>
            <div class="home__recomendados__container">
                <h1 class="productos__tittles">
                    <span class="white__word">Productos</span>
                    <span class="green__word">Preferidos</span>
                </h1> 
                
                                      
                <div class="productos__recomendados__container">
                    <% for( let i = 0; i < 4; i++ ) { %> 

                    <div class="recomendado__container">
                        <h3 class="recomendado__nombre"> <%= products[i].title %>  </h3>
                        <div class="producto recomendado1">
                            <h3 class="recomendado__estrellas">
                                <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i
                                    class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i
                                    class="fa-solid fa-star"></i>
                            </h3>
                            <h3 class="producto__precio">$ <%= products[i].price %> </h3>
                        </div>
                    </div>
                    
                    <!-- <div class="recomendado__container">
                        <h3 class="recomendado__nombre">Lorem2.</h3>
                        <div class="producto recomendado2">
                            <h3 class="recomendado__estrellas">
                                <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i
                                    class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i
                                    class="fa-solid fa-star"></i>
                            </h3>
                            <h3 class="producto__precio">$XXXX</h3>
                        </div>
                    </div>
                    <div class="recomendado__container">
    
                        <h3 class="recomendado__nombre">Lorem3.</h3>
                        <div class="producto recomendado3">
                            <h3 class="recomendado__estrellas">
                                <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i
                                    class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i
                                    class="fa-solid fa-star"></i>
                            </h3>
                            <h3 class="producto__precio">$XXXX</h3>
                        </div>
                    </div>
                    <div class="recomendado__container--768">
    
                        <h3 class="recomendado__nombre">Lorem4.</h3>
                        <div class="producto recomendado3">
                            <h3 class="recomendado__estrellas">
                                <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i
                                    class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i
                                    class="fa-solid fa-star"></i>
                            </h3>
                            <h3 class="producto__precio">$XXXX</h3>
                        </div>
                    </div> -->
                    <% } %> 
                </div>
    
            </div>
        </section>
        
    </main>
    <%- include("./partials/footer") %> 
</body>

</html>