<!DOCTYPE html>
<html lang="es">
<%- include("../partials/head") %>

    <body class="adminProfile">
        <%- include("../partials/header") %>
            <main class="adminProfile__main">
                <section class="adminProfile__section">
                    <h1>Tu Perfil - Administrador</h1>
                    <form action="" class="adminProfile__form">
                        <div class="adminProfile__form__l--container">
                            <div class="adminProfile__imgPerfil">
                                <img src="/images/<%= user.Image ? user.Image : 'perfil por defecto.jpg' %> " alt="imagenPerfil">
                                <input name="image" type="file" id="image" placeholder="Seleccionar foto">
                            </div>
                            <div class="adminProfile__formulario">
                                <div class="form__box">
                                <label class="form__label" for="nombre">Nombre</label>
                                <input class="form__input" type="text" id="nombre" value="<%= user.Nombre %>">
                            </div>
                            <div class="form__box">
                                <label class="form__label" for="apellido">Apellido</label>
                                <input class="form__input" type="text" id="apellido" value="<%= user.Apellido %>">
                            </div>
                            <div class="form__box">
                                <label class="form__label" for="usuario">Nombre de usuario</label>
                                <input class="form__input" type="text" id="usuario" value="<%= user.Nombre_Usuario %>">
                            </div>
                            <div class="form__box">
                                <label class="form__label" for="email">Correo electrónico</label>
                                <input class="form__input" type="email" id="email" value="<%= user.Email %>">
                            </div>
                            <div class="form__box">
                                <label class="form__label" for="password">Contraseña</label>
                                <input class="form__input" type="text" id="password" value="<%= user.Contraseña %>">
                                <input type="checkbox"> 
                                <label class="adminProfile__mostrar__contraseña">Mostrar</label>
                            </div>
                              <!-- <div class="adminProfile__cambiar__contraseña">
                        <p>Cambiar Contraseña</p>
                        <div class="adminProfile__cambiar__contraseña__form__box">
                            <label class="form__label" for="new_password">Nueva Contraseña</label>
                            <input class="form__input" type="text" id="new_password" value="">
                        </div>
                        <div class="adminProfile__cambiar__contraseña__form__box">
                        <label class="form__label" for="new_password_ok">Repetir Contraseña</label>
                        <input class="form__input" type="text" id="new_password_ok" value="">
                    </div> -->
                        </div>
                    </div>
                        </div>
                            <div class="adminProfile__actionButtons__container">
                                <a href="/">
                                    <button class="adminProfile__cancelar__button">Cancelar</button>
                                </a>
                                <a href="/">
                                    <button class="adminProfile__enviar__button">Editar Perfil</button> 
                                </a>
                            </div>
                </section>
            </main>
            <%- include("../partials/footer") %>
    </body>

</html>