<!DOCTYPE html>
<html lang="es">
<%- include("../partials/head") %> 

    
<body class="profile <%= user.rolId === 1 ? "administrador" : null %>">
    <%- include("../partials/header") %> 
    <main class="profile__main">
        <section class="profile__section">
            <% if (user.rolId === "2") { %>
                <h1 class="white__word">¡Bienvenido <p class="green__word"><%= user.username !== "" ? user.username : user.name %> %></p>!</h1>
            <% } else { %>
                <h1 class="white__word">¡Bienvenido de vuelta <p class="green__word"><%= user.username !== "" ? user.username : user.name %></p>!</h1>
                <h2 class="white__word">¿Qué tal has estado?</h2>
            <% } %>
            <form action="?_method=PUT" method="post" class="profile__form">
                <div class="profile__form__l--container">
                    <div class="profile__imgPerfil">
                        <img src="/images/<%= user.avatar ? user.avatar : 'perfil por defecto.jpg' %>" alt="avatarPerfil">
                        <input name="avatar" type="file" id="avatar" placeholder="Seleccionar foto">
                        <p id="msgErrorAvatar" class="errorText" ></p>
                    </div>
                    <div class="profile__formulario">
                        <div class="profile__form__box">
                            <label class="form__label" for="name">Nombre</label>
                            <input class="form__input" type="text" id="name" name="name" value="<%= user.name %>">
                            <p class="errorText"><%= locals.errors && errors.name ? errors.name.msg : null %></p>
                            <p id="msgErrorName" class="errorText" ></p>
                        </div>
                        <div class="profile__form__box">
                            <label class="form__label" for="apellido">Apellido</label>
                            <input class="form__input" type="text" id="surname" name="surname" value="<%= user.surname %>">
                            <p class="errorText"><%= locals.errors && errors.surname ? errors.surname.msg : null %></p>
                            <p id="msgErrorSurname" class="errorText" ></p>
                            </div>
                        <div class="profile__form__box">
                            <label class="form__label" for="usuario">Nombre de usuario</label>
                            <input class="form__input" type="text" id="user" name="username" value="<%= user.username %>">
                            <p class="errorText"><%= locals.errors && errors.username ? errors.username.msg : null %></p>
                            <p id="msgErrorUsername" class="errorText" ></p>
                        </div>
                        
                        <div class="profile__form__box">
                            <label class="form__label" for="email">Correo electrónico</label>
                            <input class="form__input" type="email" id="email" name="email" value="<%= user.email %>">
                            <p class="errorText"><%= locals.errors && errors.email ? errors.email.msg : null %></p>
                            <p id="msgErrorEmail" class="errorText"></p>
                        </div>
                        
                       
                    </div>
                </div>
                <div class="profile__actionButtons__container">
                    <a href="/users/logout">
                        <div class="profile__enviar__button">Cerrar sesión</div>
                    </a>
                    <a href="/">
                        <button class="profile__cancelar__button">Cancelar</button>
                    </a>
                    <button type="submit" class="profile__enviar__button">Guardar Perfil</button>
                </div>
            </form>
        </section>
    </main>
    <%- include("../partials/footer") %> 
    <script src="/js/userFrontValidate.js"></script>
</body>
</html>