<!DOCTYPE html>
<html lang="es">
<%- include("../partials/head") %> 

    
<body class="profile <%= locals.userLogin.category %>">
    <%- include("../partials/header") %> 
    <main class="profile__main">
        <section class="profile__section">
            <% if (user.category === "normal") { %>
                <h1>Tu Perfil</h1>
            <% } else { %>
            <h1> Perfil <%= user.category %> </h1>
            <% } %>
            <form action="" class="profile__form">
            <div class="profile__form__l--container">
                <div class="profile__imgPerfil">
                    <img src="/images/<%= user.image ? user.image : 'perfil por defecto.jpg' %> " alt="imagenPerfil">
                    <input name="image" type="file" id="image" placeholder="Seleccionar foto">
                </div>
                <div class="profile__formulario">
                    <div class="profile__form__box">
                    <label class="form__label" for="nombre">Nombre</label>
                    <input class="form__input" type="text" id="nombre" value="<%= user.nombre %>">
                </div>
                <div class="profile__form__box">
                    <label class="form__label" for="apellido">Apellido</label>
                    <input class="form__input" type="text" id="apellido" value="<%= user.apellido %>">
                </div>
                <div class="profile__form__box">
                    <label class="form__label" for="usuario">Nombre de usuario</label>
                    <input class="form__input" type="text" id="usuario" value="<%= user.nombreUsuario %>">
                </div>
                <div class="profile__form__box">
                    <label class="form__label" for="email">Correo electrónico</label>
                    <input class="form__input" type="email" id="email" value="<%= user.email %>">
                </div>
                <div class="profile__form__box">
                    <label class="form__label" for="password">Contraseña</label>
                    <input class="form__input" type="password" id="password">
                    <!-- <div class="profile__mostrar">
                        <input type="checkbox"> 
                        <label class="profile__mostrar__contraseña">Mostrar</label>
                    </div> -->
                </div>
                        <!-- <div class="adminProfile__cambiar__contraseña">
                <p>Cambiar Contraseña</p>
                <div class="adminProfile__cambiar__contraseña__form__box">
                    <label class="form__label" for="new_password">Nueva Contraseña</label>
                    <input class="form__input" type="text" id="new_password" value="">
                </div>
                <div class="adminProfile__cambiar__contraseña__form__box">
                <label class="form__label" for="new_password_ok">Repetir Contraseña</label>
                <input class="form__input" type="text" id="new_password_ok" value="">
            </div> -->
                </div>
            </div>
                </div>
            </form>
                    <div class="profile__actionButtons__container">
                        <a href="/">
                            <button class="profile__cancelar__button">Cancelar</button>
                        </a>
                        <a href="/">
                            <button class="profile__enviar__button">Editar Perfil</button> 
                        </a>
                    </div>
        </section>
    </main>
    <%- include("../partials/footer") %> 
</body>
</html>