<!DOCTYPE html>
<html lang="es">


<%- include("../partials/head") %>

<body>
<%- include("../partials/header") %>

    <main class="registrar__main">
        <p class="login--parapho"><a href="/">Inicio</a>/register</p>

        <h3 class="login__ingresa">Registrate 游때</h3>
        <div class="container__form">
            <form class="form" action="" id="form" method="post">

                <div class="form__box">
                   
                    <input class="form__input" type="text" name="name" id="name" placeholder="Nombre" value="<%= locals.old && old.name ? old.name : null %>">
                    <p style="color:red;font-size: 16px;"><%= locals.errors && errors.name? errors.name.msg : null%></p>
                    <small  id="msgNom"></small>
                    
                </div>
                    
                <div class="form__box">
                    
                   <input class="form__input" type="text" name="surname" id="surname" placeholder="Apellido" value="<%= locals.old && old.surname ? old.surname : null %>">
                   <p style="color:red;font-size: 16px;"><%= locals.errors && errors.surname ? errors.surname.msg : null%></p>
                   <small id="msgSur"></small>
                </div>
                <div class="form__box">
                    
                    <input class="form__input" type="text" name="username" id="username" placeholder="Nombre de Usuario">
                    <p style="color:red;font-size: 16px;"></p>
                    <small id="msgUsr"></small>
                 </div>
                <div class="form__box">
                    <input class="form__input" type="text" name="email" id="email" placeholder="Email" value="<%= locals.old && old.email ? old.email : null %>">
                    <p style="color:red;font-size: 16px;"><%= locals.errors && errors.email ? errors.email.msg : null%></p>
                    <small id="msgEma"></small>
                </div>
                <div class="form__box">
                    <input class="form__input" type="password" name="password" id="password" placeholder="Contrase침a"><button id="pass-toggle">show</button>
                    <p style="color:red;font-size: 16px;"><%= locals.errors && errors.password ? errors.password.msg : null%></p>
                    <small id="msgPas"></small>

                </div>
                <div class="form__box">
                    
                    <input class="form__input" type="password" name="password2" id="password2" placeholder="Reingrese su contrase침a">
                    <p style="color:red;font-size: 16px;"><%= locals.errors && errors.password2 ? errors.password2.msg : null%></p>
                    <small id="msgPas2"></small>
                </div>
                <div class="form__box">
                    <label for="image">Sube tu avatar <small>(opcional)</small></label><br>
                    <input accept="image/*" name="image" type="file" id="image" class="is-valid">
                    
                </div><br>
                <div class="form__box">
                    <input  style="font-size: xx-large;" type="checkbox"  name="terminos" id="terminos">
                    <label style="color:rgb(133, 141, 221);padding-left: 2px;">Acepta los<a style="color:rgb(181, 228, 185)" href="/users/condiciones"> T칠rminos y Condiciones</a></label>
                    <p style="color:red;font-size: 16px;"><%= locals.errors && errors.terminos ? errors.terminos.msg : null%></p>
                    <small id="msgTer"></small>
                </div>
               
                <div class="form__box">
                    <button class="form__button--cuenta" type="submit">Crear cuenta</button>
                    <br>
                    <small id="msgReg" class="is-invalid"></small>
                </div>
                <div class="form__box">
                    <span style="color:aqua; margin-bottom: 40px;padding:10px">쯏a est치s registrado?</span><a href="/users/login" style="color:blanchedalmond">| 游땙 Ingres치</a>
                </div>
            </form>
        </div>
        <div class="container__cuentas">
            <div class="form__box__google">
                <button class="form__button--google" type="submit">
                    <h3>Entrar con Google</h6>
                    <img class="logoGoogle" width="40px" src="/images/googleLogo.png" alt="logoGoogle">
                </button>
            </div>
            <div class="form__box">
                <button class="form__button--facebook" type="submit">

                    <h3>Entrar con Facebook</h3> 

                    <img class="logoFacebook" width="40px" src="/images/Facebook.png" alt="logoFacebook">
                </button>
            </div>
        </div>
        <div class="form__contact">
            <h5>contactanos</h5>
            <p>e-commerce@greenfood.com.ar</p>
            <p>Argentina</p>
        </div>
                <!-- <div>
            <img class="registrar__truck" src="/images/envio-1.png" alt="logoEnvio">
        </div> -->
        <div class="abajo">
            <h6>
                <span>
                    <i class="fa-regular fa-envelope"></i>
                </span>
                &nbsp;CONTACTANOS<br>
                <a href="greenfoodargentina@gmail.com">greenfoodargentina@gmail.com</a>
            </h6>
            <img width="90" src="/images/envio-1.png" alt="envio">
            <h6>
                <span>
                    <i class="fa-solid fa-location-dot"></i>
                </span>
                Argentina
            </h6>
        </div>
    </main>

<%- include("../partials/footer") %>
<script src="/js/registerValidation.js">

</script>

</body>

</html>