<!DOCTYPE html>
<html lang="es">


<%- include("../partials/head") %>

<body>
<%- include("../partials/header") %>

    <main class="registrar__main">
        <p class="login--parapho"><a href="/">Inicio</a>/register</p>

<!--         <h1 class="registrar__h1">Registro 😁</h1>
 -->        <div class="container__form">
            <form class="form" action="" method="post">

                <div class="form__box">
                   
                    <input class="form__input" type="text" name="nombre" id="nombre" placeholder="Nombre" value="<%= locals.old && old.nombre ? old.nombre : null %>">
                    <p style="color:red;font-size: 16px;"><%= locals.errors && errors.nombre ? errors.nombre.msg : null%></p>
                    
                </div>
                    
                <div class="form__box">
                    
                   <input class="form__input" type="text" name="apellido" id="nombre" placeholder="Apellido" value="<%= locals.old && old.apellido ? old.apellido : null %>">
                   <p style="color:red;font-size: 16px;"><%= locals.errors && errors.apellido ? errors.apellido.msg : null%></p>
                </div>
                <div class="form__box">
                    
                    <input class="form__input" type="text" name="email" id="email" placeholder="Email" value="<%= locals.old && old.email ? old.email : null %>">
                    <p style="color:red;font-size: 16px;"><%= locals.errors && errors.email ? errors.email.msg : null%></p>
                </div>
                <div class="form__box">

                   
                    <input class="form__input" type="password" name="password" id="password" placeholder="Contraseña">
                    <p style="color:red;font-size: 16px;"><%= locals.errors && errors.password ? errors.password.msg : null%></p>

                </div>
                <div class="form__box">
                    
                    <input class="form__input" type="password" name="password2" id="password2" placeholder="Reingrese su contraseña">
                    <p style="color:red;font-size: 16px;"><%= locals.errors && errors.password2 ? errors.password2.msg : null%></p>
                </div>
                <div class="form__box">
                    <input style="font-size: xx-large;" type="checkbox"  name="terminos">
                    <label style="color:rgb(133, 141, 221);padding-left: 2px;">Acceptar<a style="color:rgb(181, 228, 185)" href="/users/condiciones"> términos y condiciones</a></label>
                    <p style="color:red;font-size: 16px;"><%= locals.errors && errors.terminos ? errors.terminos.msg : null%></p>
                </div>
               
                <div class="form__box">
                    <button class="form__button--cuenta" type="submit">Crear cuenta</button>
                </div>
                <div class="form__box">
                    <span style="color:aqua; margin-bottom: 40px;padding:10px">¿Ya Estàs Registrado?</span> <a href="/users/login" style="color:blanchedalmond">:) Ingresà</a>
                </div>
            </form>
        </div>
        <div class="container__cuentas">
            <div class="form__box__google">
                <button class="form__button--google" type="submit">
                    <h3>Entrar con Google</h6>
                    <img class="logoGoogle" width="40px" src="/images/googleLogo.png" alt="logoGoogle">
                </button>
            </div>
            <div class="form__box">
                <button class="form__button--facebook" type="submit">

                    <h3>Entrar con Facebook</h3> 

                    <img class="logoFacebook" width="40px" src="/images/Facebook.png" alt="logoFacebook">
                </button>
            </div>
        </div>
        <div class="form__contact">
            <h5>contactanos</h5>
            <p>e-commerce@greenfood.com.ar</p>
            <p>Argentina</p>
        </div>
                <!-- <div>
            <img class="registrar__truck" src="/images/envio-1.png" alt="logoEnvio">
        </div> -->
        <div class="abajo">
            <h6>
                <span>
                    <i class="fa-regular fa-envelope"></i>
                </span>
                &nbsp;CONTACTANOS<br>
                <a href="greenfoodargentina@gmail.com">greenfoodargentina@gmail.com</a>
            </h6>
            <img width="90" src="/images/envio-1.png" alt="envio">
            <h6>
                <span>
                    <i class="fa-solid fa-location-dot"></i>
                </span>
                Argentina
            </h6>
        </div>
    </main>

<%- include("../partials/footer") %>
</body>

</html>